main
{
    margin-top: 10vh;
}

.big-element
{
    margin: 0 auto;
}

.big-element-img
{
    position: relative;
}

#big1
{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#svgs1-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    min-height: 500px;
}

.svgs1
{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width: 700px)
{
    #svg1-1
    {
        max-width: 80vw!important;
        max-height: 80vw!important;
    }
    
    #svg1-2
    {
        max-width: 80vw!important;
        max-height: 80vw!important;
    }

    #svgs1-container
    {
        min-height: 80vw;
    }
}

#trex
{
    position: relative;
    width: 40%;
    height: 40%;
    animation: trex 20s ease-in-out infinite;
}

@keyframes trex
{
    0%
    {
        transform: rotate(0);
        border-radius: 50%;
    }
    30%
    {
        transform: rotate(0);
        border-radius: 50%;
    }
    33%
    {
        border-radius: 20%;   
    }
    36%
    {
        transform: rotate(360deg);
        border-radius: 50%;
    }
    100%
    {
        transform: rotate(360deg);
        border-radius: 50%;
    }
}

#svg1-1
{
    animation: svg1 120s ease-in-out infinite;
}

@keyframes svg1
{
    0%
    {
        transform: scale(1) rotate(0);
    }
    20%
    {
        transform: scale(1) rotate(30deg);
    }
    40%
    {
        transform: scale(0.9) rotate(-20deg);   
    }
    60%
    {
        transform: scale(1) rotate(0deg);
    }
    80%
    {
        transform: scale(0.9) rotate(20deg);
    }
    100%
    {
        transform: scale(1) rotate(0);
    }
}

#svg1-2
{
    animation: svg2 120s ease-in-out infinite;
}

@keyframes svg2
{
    0%
    {
        transform: scale(1) rotate(0);
    }
    20%
    {
        transform: scale(0.9) rotate(20deg);
    }
    40%
    {
        transform: scale(1) rotate(0deg);
    }
    60%
    {
        transform: scale(0.9) rotate(-20deg);
    }
    80%
    {
        transform: scale(1) rotate(30deg);   
    }
    100%
    {
        transform: scale(1) rotate(0);
    }
}

#svg1-3
{
    top: 0;
    background-image: url('../img/discord.svg');
    animation: svg2 120s ease-in-out infinite;
    border: none;
}

#svg1-4
{
    top: 0;
    background-image: url('../img/minecraft.svg');
    animation: svg2 120s ease-in-out infinite;
}

#specialty
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto 40vh auto;
}

.sp-element
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sp-img
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid black;
}

/* WAVE */

.wave-container
{
	position: relative;
	background-size: cover;
	background-attachment: fixed;
    bottom: -5px;
}
.wave-container .wave:before
{
	content:'';
	width: 100%;
	height: 100px;
	background: url(../img/wave.svg);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	animation: animate-reverse 10s linear infinite;
}
.wave-container .wave
{
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	background: url(../img/wave.svg);
	animation: animate 10s linear infinite;
}
.wave-container .wave:after
{
	content:'';
	width: 100%;
	height: 100px;
	background: url(../img/wave.svg);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.4;
	animation-delay: -5s;
	animation: animate 20s linear infinite;
}
@keyframes animate
{
	0%
	{
		background-position: 0;
	}
	100%
	{
		background-position: 1280px;
	}
}
@keyframes animate-reverse
{
	0%
	{
		background-position: 1280px;
	}
	100%
	{
		background-position: 0;
	}
}


.purple-site
{
    background-color: #130AF8;
    min-height: 100vh;
    color: white;
    padding-bottom: 20vh;
}

.purple-site h1
{
    text-align: center;
}

#purple-gradient
{
    position: relative;
    top: -5px;
    background-image: linear-gradient(to bottom,#130AF8,white);
    min-height: 60vh;
}

#projekty-header
{
    margin-top: 20vh;
    font-size: 60px;
}

#kontakt
{
    margin: 20vh auto;
    min-height: 50vh;
}

#kontakt div table tr td, #kontakt div table tr th 
{
    margin: 10px!important;
    padding: 10px!important;
}