.text-inputs > div {
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-inputs > div > input {
    margin: 5px 0;
    width: 90%;
}

.text-inputs > div > input[type=button] {
    width: 8%;
    margin: 0 1%;
}

.bot-resp {
    list-style-type: none;
}

.bot-list {
    list-style-type: none;
    background-color: rgba(86, 199, 255, 0.53);
    border-collapse: collapse;
    padding: 0;
}

.bot-list > li {
    background-color: #ffffff11;
    border: 1px solid #414141;
    padding: 8px;
}


.user-resp > li {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}